body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    color:#40514E;
    
}

h1{ margin: 50px, auto, 0, auto;
    font-family: 'Sacramento'  ,cursive;
    font-size: 5.625rem;
    color:#66BFBF;
}


h2{ font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 { font-family: 'montserrat', sans-serif;
    color: #11999E;
}

.first-image{ height: 200px;
    width: 200px;
    
}    
.second-image{
  width: 25%;
           float: right;
    margin-left: 30px;
    
     
}
.my-image{
    width: 300px;
    height: 300px;
}

.third-image{ width: 25%;
    float: left;
    margin-right: 30px;
}


.top-container{
    background-color: #256D85;
    position: relative;
    padding-top: 100px;
}

.pro{
    text-decoration: underline;

}

.middle-container{
margin: 100px 0;
}

.bottom-container{
background-color: #16213E;
    padding: 50px 0 20px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
    
}

.bottom-cloud{
position: relative;
    right: 500px;
    bottom: 200px;
}

.skills {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.intro{ width: 30%;
    margin: auto;  
}

p{ line-height: 2;
    
}

hr{ border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.contact-message{ width: 40%;
    margin: 40px auto 60px;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'montserrat' sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


a{ color: #11999E;
   font-family:'montserrat' sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.linkedin-icon{
    width: 4%;
}
.instagram-icon{ width: 4%;
    
}
.whatsapp-icon{
    width: 4%;
    
}

#skills{ font-weight: bold;

}
#interest{ font-weight: bold;
    
    
}

#language{font-weight: bold;
    
}



